<template>
  <div>
    <q-card class="" style="min-width: 300px">
      <q-card-section>
        <div class="text-primary text-weight-light text-center text-h5">Forgot Password</div>
      </q-card-section>
      <q-card-section class="q-gutter-sm">
        <q-input outlined v-model="form.email" label="email" />
      </q-card-section>
      <q-card-actions align="center">
        <q-btn class="full-width" color="primary" label="Send" @click="alert = true" />
      </q-card-actions>
      <q-card-actions align="center">
        <q-btn flat no-caps color="primary" label="Sign Up" :to="name='signup'" />
        <q-btn flat no-caps color="primary" label="login" to="/" />
      </q-card-actions>
    </q-card>

    <q-dialog v-model="alert">
      <q-card>
        <q-card-section>
          <div class="text-h6">Thank you</div>
        </q-card-section>
        <q-card-section>
          Your Password has been sent to your email {{form.email}}
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="OK" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
    
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {
      alert: false,
      form:{
        email: '',
      }
    }
  }
}
</script>
