<template>
  <div>
    <q-card class="" style="min-width: 300px">
      <q-card-section>
        <div class="text-primary text-weight-light text-center text-h5">Login</div>
      </q-card-section>
      <q-card-section class="q-gutter-sm">
        {{form.email}}{{form.password}}
        <q-input outlined v-model="form.email" label="email" />
        <q-input outlined v-model="form.password" label="password" />
      </q-card-section>
      <q-card-actions align="center">
        <q-btn :loading="loading" class="full-width" color="primary" label="Login" @click="login()" />
      </q-card-actions>
      <q-card-actions align="center">
        <q-btn flat no-caps color="primary" label="Sign Up" to="/signup" />
        <q-btn flat no-caps color="primary" label="Forget Password" to="forgetPwd" />
      </q-card-actions>
    </q-card>
    
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {
      loading: false,
      form:{
        email: '',
        password: '',
      }
    }
  },

  methods: {
    async login(){
      this.loading = true;
      try{
        const res = await this.$axios.post('http://localhost:3000/api/auth', this.form)
        console.log(res.data.data);
        this.form.email = "";
        this.form.password = "";
        this.$store.commit('Auth/user', res.data.data)
        // console.log('store getters', this.$store.dispatch("Auth/user"));
        
        this.$q.notify({ message: "Login successful", color: "primary" })
        this.$router.push("index")
        this.loading = false;
      } catch (error) {
        const res = error.response.data
        this.$q.notify({ message: res.status + ' ' + res.message, color: "negative" });
        this.loading = false;
        return;
      }
      
    }
  },
  computed: {
    user(){ return this.$store.getters["Auth/user"]}
  },
}
</script>
