<template>
  <div>
    <q-card class="" style="min-width: 300px">
      <q-card-section>
        <div class="text-primary text-weight-light text-center text-h5">Sign Up</div>
      </q-card-section>
      <q-card-section class="q-gutter-sm">
        <q-input outlined v-model="form.name" label="Name" />
        <q-input outlined v-model="form.email" label="email" />
        <q-input outlined v-model="form.password" label="password" />
        <q-input outlined v-model="form.pwdConfirmation" label="Password Confirmation" />
      </q-card-section>
      <q-card-actions align="center">
        <q-btn class="full-width" color="primary" label="Sign Up" @click="save()" />
      </q-card-actions>
      <q-card-actions align="center">
        <q-btn flat no-caps color="primary" label="login" to="/" />
        <q-btn flat no-caps color="primary" label="Forget Password" :to="name='forgetPwd'" />
      </q-card-actions>
    </q-card>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {
      form:{
        name: '',
        email: '',
        password: '',
        pwdConfirmation: ''
      }
    }
  },

  
  methods: {
    async save(){
      const res = this.$axios.post('http://localhost:3000/api/user', this.form)
      console.log(res);
    }
  },
}
</script>
