<template>
  <q-page padding class="flex flex-center">
    <!-- content -->
    <login  v-if="route == 'login'"/>
    <signup v-else-if="route == 'signup'" />
    <forgetPwd v-else-if="route == 'forgetPwd'" />
  </q-page>
</template>

<script>
import login from 'components/auth/login'
import signup from 'components/auth/signup'
import forgetPwd from 'components/auth/forgetPwd'
export default {
  // name: 'PageName',
  components:{
    login, signup, forgetPwd
  },
  computed: {
    route: function(){return this.$route.name}
  },
}
</script>
