<template>
  <q-page class>
    <!-- <img alt="Quasar logo" src="~assets/quasar-logo-full.svg"> -->
    <div class="column">
      <div class="flex flex-center">
        <createNote @post="creator.push($event)" />
      </div>
      <note class="gt-xs q-px-md" :creator="creator" />
      <note class="lt-sm flex flex-center" :creator="creator" />
    </div>
  </q-page>
</template>

<script>
import createNote from "../components/card/createNote";
import note from "../components/card/note";
export default {
  name: "PageIndex",
  components: {
    createNote,
    note
  },
  data() {
    return {
      creator: [
        {
          text:
            "simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,",
          model: ["Google"]
        }
      ]
    };
  }
};
</script>
