<template>
  <div>
    <q-btn class="q-my-lg" color="primary" icon="ion-add" no-caps label="Create Note"  @click="alert = true" style="min-width: 300px; max-width: 300px"/>
    
    <q-dialog v-model="alert">
      <q-card class="" style="min-width: 300px; max-width: 300px">
        <q-card-section>
          <q-input outlined autogrow v-model="form.text" label="Create Note" />
        </q-card-section>
        <q-card-section class="q-gutter-sm column flex-center q-pr-sm">
          <q-uploader class="full-width" url="http://localhost:3000/api/media" label="Upload files" field-name="data" flat bordered/>
          <q-select class="full-width" label="Tags" color="primary" outlined v-model="form.tag" use-input use-chips multiple input-debounce="0"  :options="tagOptions"  />
        </q-card-section>

        <q-card-actions  align="center">
          <q-btn class="full-width" no-caps color="primary" label="Post" @click="save" />
        </q-card-actions>
      </q-card>    
    </q-dialog>

  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {
      alert: false,
      tagOptions: [],
      form:{
        text: '',
        tag: null,
        user_id : this.$store.getters["Auth/user"].id
      },
     
    }
  },

  mounted() {
    this.tag()
  },

  methods: {

    async save(){
      // this.$emit('post',{text: this.form.text, model: this.form.tag}); 
      this.alert = false; 
      const res = await this.$axios.post('http://localhost:3000/api/note', this.form)
      this.form.text = '' ; 
      this.form.model = null;
      this.$store.commit('Auth/note', res.data.data)
    },
    async tag(){
      const res = await this.$axios.get('http://localhost:3000/api/tag')
      const data = res.data.data;
      data.forEach(element => {
        this.tagOptions.push(element.name)
      });
    }
    
  },

  
}
</script>
