<template>
  <div class="row q-gutter-sm">
    <div v-for="(item, index) in notes" :key="index">
      <q-card class="bg-yellow" style="max-width: 300px; min-width: 300px;">
        <q-card-section>
          <div>{{item.body}}</div>
        </q-card-section>

        <q-card-section v-if="item.tags != null" align="right">
          <div class="row q-gutter-sm">
            <div class="text-caption" v-for="(mode, index) in item.tags.split(',')" :key="index">
              <q-badge color="blue">{{mode}}</q-badge>
            </div>
          </div>
        </q-card-section>

        <q-card-actions align="right">
          <share :note_id="item.id" />
          <edit :creator="item" />
          <q-btn flat color="red" icon="ion-ios-trash" @click="item = ''" />
        </q-card-actions>
      </q-card>
    </div>

    <div v-for="(item, index) in noted" :key="index">
      <q-card class="bg-orange" style="max-width: 300px; min-width: 300px;">
        <q-card-section>
          <div class="text-yellow text-bold text-right">Shared</div>
          <div>{{item.shareNote.body}}</div>
        </q-card-section>

        <q-card-section v-if="item.tags != null" align="right">
          <div class="row q-gutter-sm">
            <div class="text-caption" v-for="(mode, index) in item.shareNote.tags.split(',')" :key="index">
              <q-badge color="blue">{{mode}}</q-badge>
            </div>
          </div>
        </q-card-section>

        <q-card-actions align="right">
          <share :note_id="item.id" />
          <edit :creator="item" />
          <q-btn flat color="red" icon="ion-ios-trash" @click="item = ''" />
        </q-card-actions>
      </q-card>
    </div>
    
  </div>
</template>

<script>
import share from "../common/shareNote";
import edit from "../common/editNote";
export default {
  // name: 'ComponentName',
  components: {
    share,
    edit
  },
  // props:['creator'],
  data() {
    return {
      noted: null
    };
  },
  computed: {
    notes() {
      return this.$store.getters["Auth/user"].note;
    }
  },

  mounted() {
    this.getSharedNote();
  },

  methods: {
    async getSharedNote() {
      const res = await this.$axios.get("http://localhost:3000/api/share");
      this.noted = res.data.data;
    }
  }
};
</script>
