<template>
  <div>
    <q-btn flat icon="ion-create" @click="prompt = true" />
    
    <q-dialog v-model="prompt">
      <q-card class="" style="min-width: 300px; max-width: 300px">
        <div class="q-px-sm q-pt-sm text-bold text-primary">Edit Note</div>
        <q-card-section class="q-pt-xs">
          <q-input outlined autogrow v-model="text1" label="Create Note" />
        </q-card-section>
        <q-card-section class="q-gutter-sm column flex-center q-pr-sm">
          <q-uploader class="full-width" url="http://localhost:4444/upload" label="Upload files" flat bordered />
          <q-select class="full-width" label="Tags" color="primary" outlined v-model="model" use-input use-chips multiple input-debounce="0" :options="filterOptions"  />
        </q-card-section>
        <q-card-actions  align="center">
          <q-btn class="full-width" no-caps color="primary" label="Post" @click="()=>{ creator.text = text1; creator.model = model; prompt = false;}" />
        </q-card-actions>
      </q-card>    
    </q-dialog>
  </div>
</template>

<script>
const stringOptions = [
  'Google', 'Facebook', 'Twitter', 'Apple', 'Oracle'
]
export default {
  // name: 'ComponentName',
  props:['creator'],
  data () {
    return {
      prompt: false,
      text1: this.creator.text,
      model: this.creator.model,
      filterOptions: stringOptions
    }
  },

  
}
</script>
