<template>
  <div>
    <q-btn flat icon="ion-share-alt" @click="share" />

    <q-drawer
      v-model="drawer"
      :width="220"
      :breakpoint="500"
      overlay
      bordered
      content-class="bg-grey-3"
    >
      <q-scroll-area class="fit">
        <div class="row no-wrap">
          <q-input
            dense
            outlined
            square
            v-model="search"
            placeholder="Search"
            class="bg-white col"
          />
          <q-btn class="GPLAY__toolbar-input-btn" color="primary" icon="search" unelevated />
        </div>

        <q-list class="" v-for="(user, index) in user_list" :key="index">
          <q-item>
            <q-item-section avatar>
              <q-img
                src="https://cdn.quasar.dev/img/boy-avatar.png"
                spinner-color="white"
                style="height: 40px; max-width: 150px"
              />
            </q-item-section>
            <q-space />
            <q-item-section side class="text-right">{{ user.name }}</q-item-section>
            <q-item-section>
              <q-btn color="primary" label="Share" @click="share_note(user.id)" />
              {{user.id}}sdsd
            </q-item-section>
          </q-item>
          <q-separator />
        </q-list>
        <div class="q-mt-xl"></div>
        <q-btn
          color="primary"
          class="fixed-bottom full-width"
          icon="ion-share-alt"
          label="Share"
          @click="drawer = false"
        />
      </q-scroll-area>
    </q-drawer>
  </div>
</template>

<script>
export default {
  props: ["note_id"],
  // name: 'ComponentName',
  data() {
    return {
      search: "",
      text: "",
      drawer: false,
      alert: false,
      user_list: null
    };
  },

  methods: {
    async share() {
      this.drawer = true;
      const res = await this.$axios.get("http://localhost:3000/api/user");
      this.user_list = res.data.data;
    },

    async share_note(id) {
      const res = await this.$axios.post("http://localhost:3000/api/share", {
        user_id: id,
        note_id: this.note_id,
        sharable_id: this.$store.getters["Auth/user"].id
      });
      this.$q.notify({ message: "Succefully Shared", color: "primary" })
      this.drawer = false
    }
  }
};
</script>
