<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-toolbar-title>
          <!-- <q-btn color="white" flat label="Notes" no-caps :to="name='index'" /> -->
          <q-btn color="white" flat label="Notes" no-caps />
        </q-toolbar-title>

        <div>
          <q-btn v-if="route == 'index'" color="white" flat label="Logout" no-caps to="/" @click="logout" />
          <q-btn color="white" flat icon="ion-more" />
        </div>
      </q-toolbar>
    </q-header>

    

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: 'MyLayout',

  data () {
    return {
      leftDrawerOpen: false
    }
  },

  methods: {
    logout(){
        this.$store.getters["Auth/logout"]
        this.$router.push("/")
        this.$q.notify({ message: "Logout successful", color: "warning" })
      }
  },

  computed: {
    route: function(){return this.$route.name}
  },
}
</script>
